#loader {
    position: relative;
    left: 40%;
    margin-top: 125px;
    z-index: 1;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-bottom: 5px solid rgb(84, 116, 221);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 3s;
    animation-name: animatebottom;
    animation-duration: 3s;
  }
  
  
  
  #myDiv {
    display: none;
  }